<h1>{{callType}} Request Received</h1>
<ul>
  {{#each dataListb}}
    <li>{{this.name}}: {{this.value}}</li>
  {{/each}}
</ul>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}</li>
  {{/each}}
</ul>